.send-button,
.clear-button {
  padding: 10px 20px;
  border-radius: 10px;
  margin-left: 10px;
  border: none;
  cursor: pointer;
}
.send-button {
  background-color: rgb(25, 135, 84);
  color: white;
}

.clear-button {
  background-color: rgb(238, 238, 238);
  color: black;
}

.chat-input {
  font-size: 15px;
  padding: 12px 15px;
  border-width: 1px;
  border-radius: 10px;
  margin-right: 10px;
  flex-grow: 1;
}

.chat-input-container {
  display: flex;
  margin-bottom: 20px;
}
